/* App Container */
main {
  min-height: calc(100vh - 140px);
}

/* Garante que o footer fique no rodapé */
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
